.centrar-P {
	display: flex;
	justify-content: center;
	align-items: center;
}
.centrar-H {
	line-height: 200px;
}
#screen {
	font-family: Calibri,Arial;
	font-weight: 300;
	font-size: 7vw;
	width: 100%;
	height: 50px;
	color: gray;
	letter-spacing: 3px;
}
p {
	font-family: Calibri,Arial;
	font-weight: 400;
	font-size: 7vw;
}